<div>
	
	<img class="cardImage" src="assets/images/rootChakra.jpg">

	<span>This is the text that is going to be on the bottom.</span>

	{{#bs-button type="primary" icon="glyphicon glyphicon-heart"}}
		More Info
	{{/bs-button}}


</div>
