body{
	background-image: url(images/colorful.jpg);
	background-attachment: fixed;
}





.pageHeader{
	
	background-color: rgba( 41, 9, 37, .9);
	height: 15rem;
	color: #F2E1F0;
	font-size: 5rem;
	text-align: center;
	line-height: 15rem;
	border-radius: 11px;
	margin-top: 3rem;
	font-family: 'Pacifico', cursive;
}


/* Components*/


.chakraHolder{
	overflow: auto;
	color: #F7EFB0;
	margin-bottom: 5rem;
	font-family: 'Roboto', sans-serif;

}

.chakraHolder img{
	width: 100%;
}

.cardHolder{
	background-color: rgba( 0, 0, 0, .8);
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 11px;
}

.modalSpan{
	font-size: 1.8rem;
	line-height: 2.3rem;
}

.colorDes{
	font-size: 2.5rem;
	margin-bottom: 1.3rem;
}

.seperator{
	margin-bottom: 2rem;
}

.btn-warning{
	    background-image: linear-gradient(to bottom, #D15C91 0%, #F768A8 100%);
	    border-color: #F768A8;
	    background-color: #F768A8; 
}

.btn-warning:hover{
	background-image: linear-gradient(to bottom, #D15C91 0%, #F768A8 100%);
	background-color: #F768A8;
	border-color: #F768A8; 
}
.btn-warning:focus{
	background-image: linear-gradient(to bottom, #D15C91 0%, #F768A8 100%);
	background-color: #F768A8;
	border-color: #F768A8; 
}



 @media(min-width: 750px) and (max-width: 969px) { 

 	.cardHolder{
	width: 45%;
	margin-left: 3%;
	}

	.chakraHolder div:nth-child(2n+3){
	clear: both;
	}
 }

@media (min-width: 970px) { 

	.cardHolder{
	width: 32%;
	margin-left: 1%;
	}

	.chakraHolder div:nth-child(3n+4){
	clear: both;
	}
 }





